<% if (typeof(PhusionPassenger) !== 'undefined') { %>
  <%- include('current/views/header') %>
<% } else { %>
  <%- include('views/header') %>
<% } %>
<main class="thing">
<%- rendered %>
</main>
</body>
</html>
