<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <meta property="og:title" content="<%= title %>" />
  <meta property="og:type" content="website" />
  <!-- http://stackoverflow.com/a/6204025 -->
  <meta name="description" property="og:description" content="<%= description %>" />

  <title><%= title %></title>
  <link href="/stylesheets/app.css" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js" integrity="sha384-302VbqujSMfxaP68VZlkyj8Lm6BMyRG6g9to0rxGPCwJg1/roloFqMP9twkd1m8+" crossorigin="anonymous"></script>
  <![endif]-->
</head>
<body>
  <% if (flash) { %>
    <div class="<%= flash.mode %> flash"><p><%= flash.message %></p></div>
  <% } %>
