<%- include('header') %>
<main>
<h1>Welcome, user <%= twitterID %></h1>
<p>Would you like to <em>up</em>load some Mark<em>down</em>?</p>
<form class="upload" enctype="multipart/form-data" action="/upload" method="post">
<p>
  <label for="file">Select it from your computer <span class="max-size">(25kb max)</span>: </label>
  <input type="file" name="file" required autofocus>
</p>
<p>
  <label for="overwrite">Overwrite previous version of this file?</label>
  <input type="checkbox" name="overwrite">
</p>
<p>
  <input value="Upload" type="submit">
</p>
</form>

<h2>Stuff you’ve already uploaded:</h2>
<ul class="archive">
<% let n = archive.length
   if (n) {
     while (n--) { %>
       <li><a href="/<%= twitterID %>/<%= archive[n] %>"><%= archive[n] %></a></li>
  <% }
   } else { %>
     <li>Nothing found!</li>
<% } %>
</ul>
</main>
<%- include('footer') %>
